body {
  margin-left: 30px;
  margin-right: 30px;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.login-form {
  display: flex;
  margin-right: 30px;
  margin-top: 30px;
}

.login-form div {
  display: table-row;
  margin-left: 15px;
}

.login-form label {
  display: table-cell;
}

.login-form input {
  display: table-cell;
}

.login-error {
  margin-left: 15px;
}

.post-form {
  display: flex;
  flex-direction: column;
}